{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
<h1>Task index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Tags</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>
                {% for tag in task.tags %}
                <span
                    class="badge me-1"
                    style="background-color: {{ tag.color ?? '#6c757d' }}"
                >
                    {{ tag.name }}
                </span>
                {% else %}
                <small class="text-muted">Sin etiquetas</small>
                {% endfor %}
            </td>

            <td>
                <a href="{{ path('app_task_show', { id: task.id }) }}">show</a>
                <a href="{{ path('app_task_edit', { id: task.id }) }}">edit</a>
                <a href="{{ path('app_task_delete', { id: task.id }) }}">delete</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_task_new') }}">Create new</a>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_admin_dashboard') }}">Volver</a>
{% else %}
<a href="{{ path('app_user_dashboard') }}">Volver</a>
{% endif %} {% endblock %}
